@page
@model Vyger.Web.Pages.Cycles.CreateModel
@{
  ViewData["Title"] = "Create Routine";
}

<form method="post" class="col-lg-6 col-md-6 mx-auto">

  <div class="form-group">
    <select class="form-control" asp-for="SelectedRoutineId">
      <option value="">(select routine)</option>
      @foreach (var routine in Model.Routines)
      {
        <option value="@routine.Id">
          @routine.Name
        </option>
      }
    </select>
    <span class="form-text text-danger" asp-validation-for="SelectedRoutineId"></span>
  </div>

  <div class="form-group text-right">
    <a class="btn btn-outline-secondary float-left"
       asp-page="/Cycle/Index">
      Cancel
    </a>
    <button class="btn btn-primary">
      Next
      <span class="fa fa-fw fa-caret-right"></span>
    </button>
  </div>
</form>

@section Breadcrumbs{
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a asp-page="/Index">Home</a></li>
      <li class="breadcrumb-item"><a asp-page="/Cycles/Index">Cycles</a></li>
      <li class="breadcrumb-item active">
        Create
      </li>
    </ol>
  </nav>
}